VITE_SUPABASE_URL=https://sua-url-do-supabase.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-aqui

# Senha de Acesso do Administrador (Altere para a sua senha pessoal desejada)
VITE_ADMIN_PASSWORD=ams@2026
